.nav-bar__logo {
  position: relative;
  padding: 0.2rem 1rem 0.2rem 0;
  a {
    font-family: $poppins;
    font-size: $xxx-large;
    text-decoration: none;
    color: $swamp;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    font-family: $roboto;
    font-size: $small;
  }
  @include breakpoint($min-tablet) {
    a {
      font-family: $poppins;
      font-size: $xx-large;
    }
    span {
      font-size: $x-small;
    }
  }
}

.icon {
  color: $gray;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  @include breakpoint($min-tablet) {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.icon-m {
  color: $swamp;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  @include breakpoint($min-tablet) {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.icon-m:hover {
  color: $gray;
}
