$min-tablet: 768px;


$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 24px;
$xx-large: 30px;
$xxx-large: 50px;

$roboto: 'Roboto', sans-serif;
$monserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;
