.header {
  &__image {
    height: 20vw;
  }
  &__contact {
    padding: 1rem 3rem;
    align-items: center;
    justify-content: center;
    & .user-info {
      align-items: center;
      &__image {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1rem;
      }
      &__body {
        h1 {
          margin-bottom: 0;
        }
      }
    }
  }
  @include breakpoint($min-tablet) {
    border-bottom: 1px solid $silver;
    &__image {
      height: 15.5vw;
      img {
        object-position: center;
      }
    }
    &__contact {
      padding: 1rem 6rem;
      justify-content: space-between;
    }
  }
}
