.nav-bar {
  position: sticky;
  top: 0;
  background-color: $white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  &__toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.05rem;
    position: relative;
    & .toggle-button {
      position: absolute;
      z-index: 2;
      opacity: 0;
    }
  }
  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    a {
      width: 2rem;
      margin-left: auto;
      margin-right: 0;
      text-align: center;
      padding-top: 1.5vw;
      padding-bottom: 1.5vw;
    }
  }
  @include breakpoint($min-tablet) {
    padding: 0.75rem 6rem;
    &__toggler {
      width: auto;
      order: 3;
    }
    &__menu {
      order: 2;
      margin-right: 2vw;
      margin-left: auto;
      width: auto;
      flex-direction: row;
      a {
        width: auto;
        margin-left: 2vw;
      }
    }
  }
}
